#root 
    max-width: 1280px
    margin: 0 auto
    padding: 2rem
    text-align: center
    
body 
    background: repeating-linear-gradient(45deg, #27a076, #35da93 100px, #27a069 200px)
    display: block
    color: #151b1d
    height: 100vh
    //put elements on top of each other

.app-container
    display: flex
    flex-direction: column
    width: 100%
    height: 100% 
    display: flex
    justify-content: center

    height: 100%

.cake-builder
    //border: 3px solid blue
    width: 100%
    height: 50%



.cake
    width: 100%
    height: 80%
    border: 3px solid red
    padding: 30px 0px
    order: 1


.cake-builder  
    width: 100%
    height: 80%
    border: 3px solid blue
    padding: 30px 0px
    order: 2


button
    background-color: purple
    color: yellow
    width: 25%
    height: 7%
    font-size: 14
    margin: 2%
    padding: 2%
    alignment: center
    white-space: nowrap
    
    &:hover 
        background-color: black
        color: white
   
    height: 50%
    //border: 3px solid red
    padding: 30px 0px
    display: flex
    flex-direction: column

.cake-layer
    margin: 0 auto
    border-radius: 10px

.layer-form 
  display: flex;
  flex-direction: column;
  gap: 0.15rem
  padding: 0.15rem;
  border: 2px solid #ddd;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  align-items: center
  justify-content: center
  margin-top: 10px

  .layer-form span 
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  

  label 
    font-weight: bold;
    font-size: 0.9rem;
  

  input 
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;

    &:focus 
      border-color: #007bff;
      outline: none;
    
  

  .color-picker 
    width: 25%;
    height: 40px;
    cursor: pointer;
  

  .button-group 
    display: flex;
    gap: 0.5rem;
    
    button 
      flex: 1;
      padding: 0.7rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      &.save 
        background-color: #28a745;
        color: white;

        &:hover 
          background-color: #218838;
        
      

      &.cancel 
        background-color: #dc3545;
        color: white;

        &:hover 
          background-color: #c82333;
        
      
    
 

.layer-builder
    text-align: left
    margin-top: 30px
    & .layer-info
        border: 2px solid white
        border-radius: 20px
        display: flex
        justify-content: space-between
        padding: 10px
        background: white
        & .trash-icon
            background: transparent 
            padding: 0
            border: none
            cursor: pointer
        & .trash-icon svg
            width: 18px
            height: 18px
            fill: #656363
            &:hover 
                fill: #000000

        @media screen and (min-width: 768px)
    .app-container
        display: flex
        flex-direction: row
        align-items: top

    .cake
        width: 50%
        height: 100%
        order: 2

    .cake-builder
        width: 50%
        height: 100%
        order: 1
