#root 
    max-width: 1280px
    margin: 0 auto
    padding: 2rem
    text-align: center
    
body 
    background: repeating-linear-gradient(45deg, #27a076, #35da93 100px, #27a069 200px)
    display: block
    color: #151b1d
    height: 100%

.cake-builder
    //border: 3px solid blue
    width: 100%
    height: 50%

.cake
    width: 100%
    height: 50%
    //border: 3px solid red
    padding: 30px 0px
    display: flex
    flex-direction: column

.cake-layer
    margin: 0 auto
    border-radius: 10px

.layer-builder
    text-align: left
    margin-top: 30px
    & .layer-info
        border: 2px solid white
        border-radius: 20px
        display: flex
        justify-content: space-between
        padding: 10px
        background: white
        & .trash-icon
            background: transparent 
            padding: 0
            border: none
            cursor: pointer
        & .trash-icon svg
            width: 18px
            height: 18px
            fill: #656363
            &:hover 
                fill: #000000