@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

#root 
    max-width: 1280px
    margin: 0 auto
    padding: 2rem
    text-align: center
    
body 
    background: repeating-linear-gradient(45deg, #27a076, #91f1c7 100px, #27a069 200px)
    //background: linear-gradient(to top, #3ef0c3, #f15627, #18e1f3)
    display: block
    color: black
    font-family: Open sans, sans serif

.header
    margin: 0 auto
    & h1
        font-family: Marck Script, sans serif
        font-size: 70px
    & h3 
        font-size: 18px

.app-container
    display: flex
    flex-direction: column 
    justify-content: center
    width: 100%
    height: 100%

.cake
    width: 100%
    height: 45%
    padding: 30px 0px
    order: 1
    display: flex
    flex-direction: column-reverse
    align-items: center

.cake-builder  
    width: 100%
    height: 50%
    padding: 30px 0px
    order: 2

button
    background-color: black
    color: white
    width: 25%
    height: 7%
    font-size: 14
    margin: 2%
    padding: 2%
    alignment: center
    white-space: nowrap
    &:hover 
        background-color: grey

.cake-layer
    margin: 0 auto
    border-radius: 15%

.layer-form 
    width: 100%
    height: 350px
    margin-top: 10px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 0.15rem
    border: 2px solid #ddd
    border-radius: 20px
    background-color: #f9f9f9
    & span 
        font-size: 1.2rem
        font-weight: bold
        transition: color 0.3s ease-in-out
    & label 
        font-weight: bold
        font-size: 0.9rem
    & input 
        padding: 0.5rem
        border: 1px solid #ccc
        border-radius: 5px
        font-size: 1rem
        &:focus 
            border-color: #007bff
            outline: none
    & .color-picker 
        width: 25%
        height: 40px
        cursor: pointer
    & .form-buttons
        padding: 0
        margin-top: 20px
        cursor: pointer
        transition: background 0.2s ease-in-out
        display: flex
        flex-direction: row
        justify-content: space-between 
        font-size: 14px
        & .save-button
            height: 100%
            width: 70px
        & .cancel-button
            height: 100%
            width: 70px
        
.layer-builder
    text-align: left
    margin-top: 30px
    width: 90%
    & .layer-info
        border: 2px solid white
        border-radius: 20px
        display: flex
        justify-content: space-evenly
        align-items: center
        padding: 5px
        background: white
        & .trash-icon
            background: transparent 
            padding: 0
            border: none
            cursor: pointer
        & .trash-icon svg
            width: 18px
            height: 18px
            fill: #656363
            &:hover 
                fill: #000000

@media screen and (min-width: 768px)
    .app-container
        display: flex
        flex-direction: row
        align-items: center
        height: 100%

    .cake
        width: 50%
        height: 100%
        order: 2

    .cake-builder
        width: 50%
        height: 100%
        order: 1